.navbar
  display: block
  border-bottom: 1px solid lightgrey
  color: #707070
  font-family: 'Homemade Apple', cursive
  background-color: white
  position: fixed
  width: 100%

.navbar-right
  float: right
  margin-top: 0px
  margin-bottom: 0px
  padding: 21px 10px 18px 10px
  font-family: 'Crimson Text', serif
  border-left: solid 1px lightgrey

.navbar-left
  float: left
  font-size: 20px
  margin-left: 20px
  margin-bottom: 5px
  margin-top: 10px
  color: #3FD1B9

.clear-fix
  clear: both

.navbar a
  text-decoration: none
  color: inherit

.navbar a:hover
  color: #3FD1B9